body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: rgb(109, 7, 15);
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 4%;
}
.half-width img{
    width: 80%;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(rgb(49, 4, 6),rgb(129, 24, 6));
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 5px;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}